<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="CSS/style.css" />
  <title>Task4</title>
</head>

<body>
  <nav>
    <a href="/">Home</a>
    <form id="weatherForm">
      <input type="text" id="address" placeholder="Enter Country" />
      <button id="btn">Search</button>
    </form>
    <a href="/weatherCast">weather Cast</a>

  </nav>
</body>

</html>