<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="CSS/style.css" />
    <title>Back end || Task4</title>
</head>

<body>
    <div class="container">
        <h2>{{>header}}</h2>
        <h2>{{desc}}</h2>
        <h2 id="country" style="margin-top: 150px;"></h2>
        <h2 id="region"></h2>
        <h2 id="condition"></h2>
        <h2 id="temp"></h2>
        <h2 id="location"></h2>
        <h2 id="long"></h2>
        <h2 id="lat"></h2>
        <h2 id="error"></h2>
    </div>

    <script src="JS/script.js"></script>
    
</body>

</html>